<h2>Login</h2>

<% form_for :login, :url => {:action => :create} do |form| %>
  <div class="input">
    <%= form.label 'session[login]', 'Username or Email'%>
    <%= form.text_field 'session[login]' %>  
  </div>
  <div class="input">
    <%= form.label 'session[password]', 'Password' %>
    <%= form.password_field 'session[password]' %>
  </div>
  <div class="input">
    <%= form.check_box 'session[remember_me]' %>
    <%= form.label 'session[remember_me]', 'Remember me' %>
  </div>
  <%= form.submit "Login" %>
<% end %>

<ul>
  <li>
    <%= link_to "Sign up", new_user_path %>
  </li>
  <li>
    <%= link_to "Forgot password?", '/new_password_path' %>
  </li>
</ul> 